:root {
    --family: 'Nunito Sans';
    --light: 300;
    --semi-bold: 600;
    --extra-bold: 800;
    --Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
    --Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
    --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
    --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
    --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
    --White-Dark-Mode-Text-i-Light-Mode-Elements: hsl(0, 0%, 100%);
}

body {
    font-family: var(--family);
    height: 100%;
    width: 100%;
    background-color: var(--Very-Dark-Blue-Dark-Mode-Background);
    color: var(--White-Dark-Mode-Text-i-Light-Mode-Elements);
}

.background-elements {
    background-color: var(--Dark-Blue-Dark-Mode-Elements);
    box-shadow: 1px 1px 10px var(--Very-Dark-Blue-Light-Mode-Text);
    font-size: 14px;
}

.header { 
    height: 70px;
    display: flex;
}

.tittle {
    margin: 0;
    padding-left: 4rem;
    padding-top: 1rem;
}

.search {
    display: flex;
    justify-content: space-between;
    margin: 3rem 4rem;
}

.wrapper-input {
    position: relative;
    width: 100%;
}

.icon-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    left: 2rem;
}

#search-input {
    padding: 1rem;
    color: var(--White-Dark-Mode-Text-i-Light-Mode-Elements);
    width: 60%;
    border-style: none;
    outline: none;
    border-radius: .5rem;
    text-indent: 4rem;
}

#search-select {
    border-style: none;
    border-radius: .5rem;
    padding: 1rem 3rem;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    outline: none;
    text-align: left;
}

::placeholder {
    color: var(--White-Dark-Mode-Text-i-Light-Mode-Elements);
    text-indent: 4rem;
}

:-ms-input-placeholder { /* Para Microsoft Edge */
    color: var(--White-Dark-Mode-Text-i-Light-Mode-Elements);
}
  
::-webkit-input-placeholder { /* Para Google Chrome, Safari, etc. */
    color: var(--White-Dark-Mode-Text-i-Light-Mode-Elements);
}

#search-select {
    color: var(--White-Dark-Mode-Text-i-Light-Mode-Elements);
}

#list-info {
    list-style: none;
}

.countries-container {
    display: grid;
    margin: 4rem ;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    grid-template-rows: repeat(auto-fit, 400px);
    grid-gap: 3rem;
}

.countries-info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 250px;
    transition: ease-in-out all .5s;
}

.countries-info:hover {
    transform: scale(1.05);
    transition: ease-in-out all .3s;
    cursor: pointer;
}

.countries-info:active {
    transform: scale(.95);
}

.img-country {
    border-radius: .5rem .5rem 0 0;
    width: 100%;
    aspect-ratio: 1 / 0.6;
    object-fit: cover;
}

.container-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.5rem;
    padding: 1rem;
    border-radius: 0 0 .5rem .5rem;
}

#parrafo { 
    margin-left: 4rem;
}

/* estilos de detail.html */

a {
    text-decoration: none;
    color: var(--White-Dark-Mode-Text-i-Light-Mode-Elements);
}

button {
    display: flex;
    gap: .5rem;
    margin-top: 3rem;
    margin-left: 4rem;
    border-style: none;
    color: var(--White-Dark-Mode-Text-i-Light-Mode-Elements);
    padding: .7rem 2.7rem;
}

button:hover {
    transform: scale(1.02);
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

p {
    display: inline-block;
}

#detail-country-container {
    display: flex;
    margin: 3rem 4rem;    
    gap: 6rem;
}

#country-info {
    display: flex;
    flex-direction: column;
    /* gap: 4rem; */
    line-height: 2rem;
}

.detail-img {
    width: 25%;
    height: 25%;
}

.detail-info {
    display: flex;
    gap: 4rem;
}

.detail-info-left {
    display: flex;
    flex-direction: column;
}

.detail-info-rigth {
    display: flex;
    flex-direction: column;
}

.container-border {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 4rem;
}

.a-country {
    padding: .3rem 1rem;
}

.a-country:hover {
    cursor: pointer;
}