:root {
    --family: 'Nunito Sans';
    --light: 300;
    --semi-bold: 600;
    --extra-bold: 800;
    --Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
    --Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
    --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
    --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
    --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
    --White-Dark-Mode-Text-i-Light-Mode-Elements: hsl(0, 0%, 100%);
}

body {
    font-family: var(--family);
    height: 100%;
    width: 100%;
    background-color: var(--Very-Dark-Blue-Dark-Mode-Background);
    color: var(--White-Dark-Mode-Text-i-Light-Mode-Elements);
}

.background-elements {
    background-color: var(--Dark-Blue-Dark-Mode-Elements);
    box-shadow: 1px 1px 10px var(--Very-Dark-Blue-Light-Mode-Text);
    font-size: 14px;
}

.header { 
    height: 70px;
    display: flex;
}

.tittle {
    margin: 0;
    padding-left: 4rem;
    padding-top: 1rem;
}

.search {
    display: flex;
    justify-content: space-between;
    margin: 3rem 4rem;
}

.wrapper-input {
    position: relative;
    width: 100%;
}

.icon-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    left: 2rem;
}

#search-input {
    padding: 1rem;
    color: var(--White-Dark-Mode-Text-i-Light-Mode-Elements);
    width: 60%;
    border-style: none;
    outline: none;
    border-radius: .5rem;
    text-indent: 4rem;
}

#search-select {
    border-style: none;
    border-radius: .5rem;
    padding: 1rem 3rem;
    outline: none;
    text-align: left;
}

::placeholder {
    color: var(--White-Dark-Mode-Text-i-Light-Mode-Elements);
    text-indent: 4rem;
}

:-ms-input-placeholder { /* Para Microsoft Edge */
    color: var(--White-Dark-Mode-Text-i-Light-Mode-Elements);
}
  
::-webkit-input-placeholder { /* Para Google Chrome, Safari, etc. */
    color: var(--White-Dark-Mode-Text-i-Light-Mode-Elements);
}

#search-select {
    color: var(--White-Dark-Mode-Text-i-Light-Mode-Elements);
}

#list-info {
    list-style: none;
}

.countries-container {
    display: grid;
    margin: 4rem ;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    grid-template-rows: repeat(auto-fit, 400px);
    grid-gap: 3rem;
}

.countries-info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 250px;
    transition: ease-in-out all .5s;
}

.countries-info:hover {
    transform: scale(1.05);
    transition: ease-in-out all .3s;
    cursor: pointer;
}

.countries-info:active {
    transform: scale(.95);
}

.img-country {
    border-radius: .2rem .2rem 0 0;
    width: 100%;
    aspect-ratio: 1 / 0.6;
    object-fit: cover;
}

.container-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.5rem;
    padding: 1rem;
    border-radius: 0 0 .2rem .2rem;
}

#parrafo { 
    margin-left: 4rem;
}

a {
    text-decoration: none;
    color: var(--White-Dark-Mode-Text-i-Light-Mode-Elements);
}

@media screen and (max-width: 750px){
    .search {
        flex-direction: column;
        gap: 2rem;
        font-size: 13px;
        margin-left: 1.5rem;
    }

    #search-select {
        padding-left: 1rem;
        width: 180px;
        font-size: 13px;
    }

    #search-input {
        text-indent: 1.5rem;
        font-size: 13px;
    }

    .icon-search {
        left: 1rem;
        transform: translateY(-40%);
    }
    
    ::placeholder {
        text-indent: 1.5rem;
    }
}

@media screen and (max-width: 445px) {
    #search-input {
        width: 80%;
    }
}

@media screen and (max-width: 370px) {
    #search-input {
        width: 95%;
    }

    .countries-container {
        margin: 0;
    }

    .tittle {
        padding-left: 1.5rem;
    }
}



